.bar1{
  background-color: rgb(56, 235, 160);
  margin: 0;
  display: flex;
  align-content: space-around;
  width: 100%;

}

.en{
  display: inline-block;
  margin-left: 30%;

}

.de{


}


.seccion1 .prod{
   display: block;
   margin-left:20%;

    border: solid;
    width: 600px;

}


.seccion1 .prod div{
   display: inline-block;
   padding: 5px
}

.seccion1 .prod img{
    width: 130px;
    border-radius: 6px;
}
