

body {
  background: #ecf0f1;

}

.bar1{
  background-color: rgb(235, 56, 99);
  margin: 0;
  display: flex;
  align-content: space-around;
  width: 100%;

}

.en{
  display: inline-block;
  margin-left: 30%;

}

.de{


}

i{
  color: rgb(187, 178, 178);
}




.seccion1 .prod{
  min-height: 10px;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-column-gap: 30px;
 grid-row-gap: 30px;
 margin-bottom: 100px;

}


.seccion1 .prod div{


  transition: transform ease .2s;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.seccion1 .prod img{
  width: 50px;
  border-radius: 5px;
}
