



.bar1{
  background-color: rgb(235, 56, 99);
  margin: 0;
  display: flex;
  align-content: space-around;
  width: 100%;

}

.en{
  display: inline-block;
  margin-left: 30%;

}

.de{


}

.seccion1 i{
  color: rgb(187, 178, 178);
}



.seccion1{
  background: url("../assets/O7MF130.jpg");
  background-color: #f05f40;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}



.seccion1 h1{


    color: rgba(251, 251, 251, 0.72);
    font-family: Lato-bold;
}

.seccion1 p{
        font-size: 2rem;
        color: rgb(255, 255, 255);
}

.texto-bienvenido{
    margin-top: 13rem;
}

/*seccion 2*/

.seccion2{
  background: url("../assets/bgp.jpg");
  background-color: #40c0f0;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content:center;

}

.seccion2 .caja1{
  margin-top: 50px;
        background-color: rgba(255, 255, 255, 0.85);
        width: 400px ;
        height: 400px;
      margin: 100px;
      border-radius: 8px;
      display: flex;

      flex-flow:column wrap;


}

.caja1 .pty{
  font-size: 80px;
  margin-top: 4rem;
  color:rgba(56, 56, 56, 0.77);


}

.sm{
  width: 200px;
  margin: auto;




}


.sm .px{
  padding-top: 9px;
}

.caja1 .btn{
  margin: 5px;




}


 .alin{
   display: flex;
    flex-flow:row wrap;
    margin: auto;
    align-self: center;


}



/*------Menu--------*/
.seccion3{
background: url("../assets/85.jpg");
  background-color: #40f0ea;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content:center;

}


.seccion3 .produc{
      margin: auto;
      background-color: rgba(251, 251, 251, 0.47);
      display: flex;
      justify-content: center;
      width: 800px;
      height: 500px;
      border-radius: 5px;

}

.seccion3 .ind{
      border: solid;
      border-radius: 5px;
      width: 200px;
      background: #6998f4;



}

.seccion3 h3{
    text-align: center;
}


/*
.seccion1 .prod{
  min-height: 10px;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-column-gap: 30px;
 grid-row-gap: 30px;
 margin-bottom: 100px;

}


.seccion1 .prod div{


  transition: transform ease .2s;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.seccion1 .prod img{
  width: 50px;
  border-radius: 5px;
}
*/
